<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Server Bot - Login</title>

    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>

</head>

<body>
    <div class="center">
            <div class="text-center">
                <h6> Please provide your telegram username and your password.
                    If it is your first time you login, please leave the password field empty</h6>
            </div>

            <form class="userForm" method="POST" action="/login">
                {{with .Form}}
                    {{with .Errors.Get "generic"}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="text-align: center;">{{.}}
                        </div>
                    {{end}}

                    <div class="form-group">
                        <input type="text" class="form-control form-control-user"
                               name="userName" placeholder="Enter your Telegram username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user"
                               name="password" placeholder="Password">
                    </div>
                    <div>
                        <input type="submit" value="Login">
                    </div>
                {{end}}
            </form>

    </div>
</body>

</html>